/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: backpage;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 5;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 10%;
	font-family: sans-serif;
	color: #353535;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	font-size: 0.70em;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 90%;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 2px;
	cell-padding-right: 2px;
	cell-padding-top: 2px;
	cell-padding-bottom: 2px;
	separator-style: solid;
	separator-width: 0px;
	font-size: 0.70em;
	font-family: sans-serif;
	color: #353535;
	font-weight: normal;
	font-style: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	font-size: 0.70em;
	font-family: sans-serif;
	color: #353535;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-backpage
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-backpage-Column-Column1
{
	width: 10%;
}

.TableStyle-backpage-Column-Column2
{
	width: 90%;
}

.TableStyle-backpage-HeadI-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadI-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadE-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-HeadE-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadF-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadF-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadH-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-HeadH-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadD-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadD-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadC-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadC-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadB-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-HeadB-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadA-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadA-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadG-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadG-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-HeadI-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadI-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-HeadE-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-HeadE-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-HeadF-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadF-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-HeadH-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-HeadH-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-HeadD-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadD-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-HeadC-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadC-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-HeadB-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-HeadB-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-HeadA-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadA-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-HeadG-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-HeadG-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootI-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootI-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootE-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-FootE-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootF-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootF-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootH-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-FootH-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootD-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootD-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootC-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootC-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootB-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-FootB-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootA-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootA-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootG-Column1-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootG-Column1- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-FootI-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootI-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootE-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-FootE-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootF-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootF-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootH-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-FootH-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootD-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootD-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootC-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootC-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootB-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-FootB-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootA-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootA-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-FootG-Column2-
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-FootG-Column2- p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-Body-Body1
{
	
}

.TableStyle-backpage-BodyI-Column1-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyI-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyE-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-BodyE-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyF-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyF-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyH-Column1-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-BodyH-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyD-Column1-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyD-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyC-Column1-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyC-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyB-Column1-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-backpage-BodyB-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyA-Column1-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyA-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyG-Column1-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyG-Column1-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-backpage-BodyI-Column2-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyI-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-BodyE-Column2-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-BodyE-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-BodyF-Column2-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyF-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-BodyH-Column2-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-BodyH-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-BodyD-Column2-Body1
{
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyD-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-BodyC-Column2-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyC-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-BodyB-Column2-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-right-width: 0px;
	border-right-style: solid;
}

.TableStyle-backpage-BodyB-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-BodyA-Column2-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyA-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-backpage-BodyG-Column2-Body1
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TableStyle-backpage-BodyG-Column2-Body1 p
{
	color: #353535;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: normal;
}


