/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Caution;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #353535;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #353535;
	max-id: 6;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	background-color: #edf0f1;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #353535;
	name: Column1;
	id: 0;
	type: Automatic;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	size: 75px;
	text-align: center;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	type: Automatic;
	size: 120px;
	text-align: center;
	vertical-align: middle;
	separator-style: solid;
	separator-width: 1px;
	font-size: 1.10em;
	color: #ff1200;
	separator-color: #000000;
	font-weight: bold;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column3;
	type: Automatic;
	separator-style: solid;
	separator-width: 1px;
	text-align: justify;
	vertical-align: top;
	font-size: 1em;
	color: #000000;
	font-style: italic;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: justify;
	vertical-align: middle;
	background-color: #edf0f1;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}


/* Cell Styles: */
 
.TableStyle-Caution
{
	border-collapse: separate;
	background-color: #edf0f1;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #353535;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #353535;
	border-bottom-width: 2px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-spacing: 0px 0px;
}

.TableStyle-Caution-Column-Column1
{
	width: 75px;
}

.TableStyle-Caution-Column-Column2
{
	width: 120px;
}

.TableStyle-Caution-Column-Column3
{
	
}

.TableStyle-Caution-HeadI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-HeadI-Column1- p
{
	
}

.TableStyle-Caution-HeadE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-HeadE-Column1- p
{
	
}

.TableStyle-Caution-HeadF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-HeadF-Column1- p
{
	
}

.TableStyle-Caution-HeadH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-HeadH-Column1- p
{
	
}

.TableStyle-Caution-HeadD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-HeadD-Column1- p
{
	
}

.TableStyle-Caution-HeadC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-HeadC-Column1- p
{
	
}

.TableStyle-Caution-HeadB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-HeadB-Column1- p
{
	
}

.TableStyle-Caution-HeadA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-HeadA-Column1- p
{
	
}

.TableStyle-Caution-HeadG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-HeadG-Column1- p
{
	
}

.TableStyle-Caution-HeadI-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadI-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadE-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-HeadE-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadF-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadF-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadH-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-HeadH-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadD-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadD-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadC-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadC-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadB-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-HeadB-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadA-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadA-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadG-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadG-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-HeadI-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadI-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-HeadE-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-HeadE-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-HeadF-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadF-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-HeadH-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-HeadH-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-HeadD-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadD-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-HeadC-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadC-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-HeadB-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-HeadB-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-HeadA-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadA-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-HeadG-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-HeadG-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-FootI-Column1- p
{
	
}

.TableStyle-Caution-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-FootE-Column1- p
{
	
}

.TableStyle-Caution-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-FootF-Column1- p
{
	
}

.TableStyle-Caution-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-FootH-Column1- p
{
	
}

.TableStyle-Caution-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-FootD-Column1- p
{
	
}

.TableStyle-Caution-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-FootC-Column1- p
{
	
}

.TableStyle-Caution-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-FootB-Column1- p
{
	
}

.TableStyle-Caution-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-FootA-Column1- p
{
	
}

.TableStyle-Caution-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-FootG-Column1- p
{
	
}

.TableStyle-Caution-FootI-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootI-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootE-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-FootE-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootF-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootF-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootH-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-FootH-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootD-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootD-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootC-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootC-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootB-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-FootB-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootA-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootA-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootG-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootG-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-FootI-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootI-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootE-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-FootE-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootF-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootF-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootH-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-FootH-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootD-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootD-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootC-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootC-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootB-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-FootB-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootA-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootA-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-FootG-Column3-
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-FootG-Column3- p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-Body-Body1
{
	
}

.TableStyle-Caution-BodyI-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyE-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyF-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyH-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyD-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyC-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyB-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Caution-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyA-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyG-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: top;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Caution-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Caution-BodyI-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyI-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyE-Column2-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-BodyE-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyF-Column2-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyF-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyH-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-BodyH-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyD-Column2-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyD-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyC-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyC-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyB-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Caution-BodyB-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyA-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyA-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyG-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyG-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Caution-BodyI-Column3-Body1
{
	background-color: #edf0f1;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyI-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-BodyE-Column3-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-BodyE-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-BodyF-Column3-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyF-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-BodyH-Column3-Body1
{
	background-color: #edf0f1;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-BodyH-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-BodyD-Column3-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyD-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-BodyC-Column3-Body1
{
	background-color: #edf0f1;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyC-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-BodyB-Column3-Body1
{
	background-color: #edf0f1;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Caution-BodyB-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-BodyA-Column3-Body1
{
	background-color: #edf0f1;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyA-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}

.TableStyle-Caution-BodyG-Column3-Body1
{
	background-color: #edf0f1;
	color: #000000;
	font-size: 1em;
	font-style: italic;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Caution-BodyG-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
	font-style: italic;
}


