/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: headerfooter_tablestyle;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	max-id: 7;
	cell-padding-left: 0.250cm;
	cell-padding-right: 0.25cm;
	cell-padding-top: 0.25cm;
	cell-padding-bottom: 0.25cm;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column1;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column2;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	name: Body1;
	id: 1;
	cell-padding-left: 0cm;
	cell-padding-right: 0cm;
	cell-padding-top: 0cm;
	cell-padding-bottom: 0cm;
	type: Automatic;
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	type: Automatic;
	font-size: 0.70em;
	color: #000000;
	font-weight: normal;
	font-style: italic;
	font-family: sans-serif;
	text-align: left;
}


/* Cell Styles: */
 
.TableStyle-headerfooter_tablestyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-headerfooter_tablestyle-Column-Column1
{
	
}

.TableStyle-headerfooter_tablestyle-Column-Column2
{
	
}

.TableStyle-headerfooter_tablestyle-HeadI-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadI-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadE-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadE-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadF-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadF-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadH-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadH-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadD-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadD-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadC-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadC-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadB-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadB-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadA-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadA-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadG-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-HeadG-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadI-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadI-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadE-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadE-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadF-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadF-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadH-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadH-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadD-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadD-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadC-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadC-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadB-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadB-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadA-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadA-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-HeadG-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-HeadG-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootI-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootI-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootE-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootE-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootF-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootF-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootH-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootH-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootD-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootD-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootC-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootC-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootB-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootB-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootA-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootA-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootG-Column1-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
}

.TableStyle-headerfooter_tablestyle-FootG-Column1- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootI-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootI-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootE-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootE-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootF-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootF-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootH-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootH-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootD-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootD-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootC-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootC-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootB-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootB-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootA-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootA-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-FootG-Column2-
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-FootG-Column2- p
{
	
}

.TableStyle-headerfooter_tablestyle-Body-Body1
{
	
}

.TableStyle-headerfooter_tablestyle-BodyI-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
}

.TableStyle-headerfooter_tablestyle-BodyI-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyE-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	border-bottom-width: 0px;
	border-bottom-style: solid;
}

.TableStyle-headerfooter_tablestyle-BodyE-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyF-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	border-bottom-width: 0px;
	border-bottom-style: solid;
}

.TableStyle-headerfooter_tablestyle-BodyF-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyH-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
}

.TableStyle-headerfooter_tablestyle-BodyH-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyD-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	border-bottom-width: 0px;
	border-bottom-style: solid;
}

.TableStyle-headerfooter_tablestyle-BodyD-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyC-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
}

.TableStyle-headerfooter_tablestyle-BodyC-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyB-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
}

.TableStyle-headerfooter_tablestyle-BodyB-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyA-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
}

.TableStyle-headerfooter_tablestyle-BodyA-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyG-Column1-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
}

.TableStyle-headerfooter_tablestyle-BodyG-Column1-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyI-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyI-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyE-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyE-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyF-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyF-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyH-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyH-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyD-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyD-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyC-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyC-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyB-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyB-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyA-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyA-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyG-Column2-Body1
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	padding-left: 0cm;
	padding-right: 0cm;
	padding-top: 0cm;
	padding-bottom: 0cm;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyG-Column2-Body1 p
{
	font-family: sans-serif;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-Body-Body2
{
	
}

.TableStyle-headerfooter_tablestyle-BodyI-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyI-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyE-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyE-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyF-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyF-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyH-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyH-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyD-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyD-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyC-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyC-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyB-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyB-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyA-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyA-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyG-Column1-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyG-Column1-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyI-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyI-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyE-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyE-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyF-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyF-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyH-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyH-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyD-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyD-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyC-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyC-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyB-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyB-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyA-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyA-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}

.TableStyle-headerfooter_tablestyle-BodyG-Column2-Body2
{
	padding-left: 0.25cm;
	padding-right: 0.25cm;
	padding-top: 0.25cm;
	padding-bottom: 0.25cm;
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
	text-align: left;
}

.TableStyle-headerfooter_tablestyle-BodyG-Column2-Body2 p
{
	color: #000000;
	font-family: sans-serif;
	font-size: 0.70em;
	font-weight: normal;
	font-style: italic;
}


