/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Note;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #353535;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #353535;
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #353535;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-bottom-color: #353535;
	max-id: 8;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: #edf0f1;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column1;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	type: Header;
	size: 120px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #353535;
	text-align: center;
	vertical-align: middle;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column2;
	background-color: #edf0f1;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	vertical-align: middle;
	text-align: center;
	size: 120px;
	separator-style: solid;
	separator-width: 1px;
	font-size: 1.10em;
	color: #000000;
	font-weight: bold;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column3;
	background-color: #edf0f1;
	separator-style: solid;
	separator-width: 1px;
	color: #000000;
	vertical-align: top;
	text-align: justify;
	font-size: 1em;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
	vertical-align: middle;
	text-align: justify;
	background-color: #edf0f1;
	separator-style: solid;
	separator-width: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	separator-color: #353535;
}


/* Cell Styles: */
 
.TableStyle-Note
{
	border-collapse: separate;
	background-color: #edf0f1;
	border-left-style: solid;
	border-left-color: #353535;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #353535;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #353535;
	border-top-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #353535;
	border-bottom-width: 4px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-spacing: 0px 0px;
}

.TableStyle-Note-Column-Column1
{
	width: 120px;
}

.TableStyle-Note-Column-Column2
{
	width: 120px;
}

.TableStyle-Note-Column-Column3
{
	
}

.TableStyle-Note-HeadI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-HeadI-Column1- p
{
	
}

.TableStyle-Note-HeadE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-HeadE-Column1- p
{
	
}

.TableStyle-Note-HeadF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-HeadF-Column1- p
{
	
}

.TableStyle-Note-HeadH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-HeadH-Column1- p
{
	
}

.TableStyle-Note-HeadD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-HeadD-Column1- p
{
	
}

.TableStyle-Note-HeadC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-HeadC-Column1- p
{
	
}

.TableStyle-Note-HeadB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-HeadB-Column1- p
{
	
}

.TableStyle-Note-HeadA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-HeadA-Column1- p
{
	
}

.TableStyle-Note-HeadG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-HeadG-Column1- p
{
	
}

.TableStyle-Note-HeadI-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadI-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadE-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-HeadE-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadF-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadF-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadH-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-HeadH-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadD-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadD-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadC-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadC-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadB-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-HeadB-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadA-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadA-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadG-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadG-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-HeadI-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadI-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-HeadE-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-HeadE-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-HeadF-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadF-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-HeadH-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-HeadH-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-HeadD-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadD-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-HeadC-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadC-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-HeadB-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-HeadB-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-HeadA-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadA-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-HeadG-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-HeadG-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-FootI-Column1- p
{
	
}

.TableStyle-Note-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-FootE-Column1- p
{
	
}

.TableStyle-Note-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-FootF-Column1- p
{
	
}

.TableStyle-Note-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-FootH-Column1- p
{
	
}

.TableStyle-Note-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-FootD-Column1- p
{
	
}

.TableStyle-Note-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-FootC-Column1- p
{
	
}

.TableStyle-Note-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-FootB-Column1- p
{
	
}

.TableStyle-Note-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-FootA-Column1- p
{
	
}

.TableStyle-Note-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-FootG-Column1- p
{
	
}

.TableStyle-Note-FootI-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootI-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootE-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-FootE-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootF-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootF-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootH-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-FootH-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootD-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootD-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootC-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootC-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootB-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-FootB-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootA-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootA-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootG-Column2-
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootG-Column2- p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-FootI-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootI-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootE-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-FootE-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootF-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootF-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootH-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-FootH-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootD-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootD-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootC-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootC-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootB-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-FootB-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootA-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootA-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-FootG-Column3-
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-FootG-Column3- p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-Body-Body1
{
	
}

.TableStyle-Note-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-color: #353535;
	border-right-style: solid;
}

.TableStyle-Note-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	background-image: url('../Images/Fotech_note1.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Note-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Note-BodyI-Column2-Body1
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyI-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyE-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-BodyE-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyF-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyF-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyH-Column2-Body1
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-BodyH-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyD-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyD-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyC-Column2-Body1
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyC-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyB-Column2-Body1
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-BodyB-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyA-Column2-Body1
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyA-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyG-Column2-Body1
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyG-Column2-Body1 p
{
	color: #000000;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Note-BodyI-Column3-Body1
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyI-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-BodyE-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-BodyE-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-BodyF-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyF-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-BodyH-Column3-Body1
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-BodyH-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-BodyD-Column3-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #353535;
	border-bottom-style: solid;
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyD-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-BodyC-Column3-Body1
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyC-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-BodyB-Column3-Body1
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Note-BodyB-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-BodyA-Column3-Body1
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyA-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}

.TableStyle-Note-BodyG-Column3-Body1
{
	color: #000000;
	font-size: 1em;
	text-align: justify;
	vertical-align: top;
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Note-BodyG-Column3-Body1 p
{
	color: #000000;
	font-size: 1em;
}


