/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Warning;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #353535;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #353535;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #353535;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #353535;
	max-id: 5;
	background-color: #edf0f1;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing-y: 1;
	border-spacing-x: 0;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	type: Header;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	text-align: center;
	vertical-align: middle;
	size: 75px;
	separator-style: solid;
	separator-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	size: 120px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.10em;
	color: #ff1200;
	font-weight: bold;
	separator-color: #000000;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
	separator-style: solid;
	separator-width: 1px;
	text-align: justify;
	vertical-align: top;
	font-size: 0.90em;
	color: #ff1200;
	separator-color: #000000;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	text-align: justify;
	vertical-align: middle;
	background-color: #edf0f1;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}


/* Cell Styles: */
 
.TableStyle-Warning
{
	border-collapse: separate;
	background-color: #edf0f1;
	border-left-style: solid;
	border-left-color: #353535;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #353535;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #353535;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #353535;
	border-bottom-width: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 1px;
}

.TableStyle-Warning-Column-Column1
{
	width: 75px;
}

.TableStyle-Warning-Column-Column2
{
	width: 120px;
}

.TableStyle-Warning-Column-Column3
{
	
}

.TableStyle-Warning-Head-Header1
{
	
}

.TableStyle-Warning-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Warning-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Warning-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Warning-HeadI-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-HeadI-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadE-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadE-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadF-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadF-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadH-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-HeadH-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadD-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadD-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadC-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-HeadC-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadB-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-HeadB-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadA-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-HeadA-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadG-Column2-Header1
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-HeadG-Column2-Header1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-HeadI-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-HeadI-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-HeadE-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadE-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-HeadF-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadF-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-HeadH-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-HeadH-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-HeadD-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Warning-HeadD-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-HeadC-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-HeadC-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-HeadB-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-HeadB-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-HeadA-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-HeadA-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-HeadG-Column3-Header1
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-HeadG-Column3-Header1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-FootI-Column1- p
{
	
}

.TableStyle-Warning-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Warning-FootE-Column1- p
{
	
}

.TableStyle-Warning-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-FootF-Column1- p
{
	
}

.TableStyle-Warning-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Warning-FootH-Column1- p
{
	
}

.TableStyle-Warning-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-FootD-Column1- p
{
	
}

.TableStyle-Warning-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-FootC-Column1- p
{
	
}

.TableStyle-Warning-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Warning-FootB-Column1- p
{
	
}

.TableStyle-Warning-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-FootA-Column1- p
{
	
}

.TableStyle-Warning-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-FootG-Column1- p
{
	
}

.TableStyle-Warning-FootI-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootI-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootE-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-FootE-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootF-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootF-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootH-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-FootH-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootD-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootD-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootC-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootC-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootB-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-FootB-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootA-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootA-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootG-Column2-
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootG-Column2- p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-FootI-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootI-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootE-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-FootE-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootF-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootF-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootH-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-FootH-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootD-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootD-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootC-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootC-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootB-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-FootB-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootA-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootA-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-FootG-Column3-
{
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-FootG-Column3- p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-Body-Body1
{
	
}

.TableStyle-Warning-BodyI-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyE-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Warning-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyF-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyH-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Warning-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyD-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyC-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyB-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border-right-width: 1px;
	border-right-style: solid;
}

.TableStyle-Warning-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyA-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyG-Column1-Body1
{
	background-color: #edf0f1;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
	background-image: url('../Images/Warning.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
}

.TableStyle-Warning-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Warning-BodyI-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyI-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyE-Column2-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-BodyE-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyF-Column2-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyF-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyH-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-BodyH-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyD-Column2-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyD-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyC-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyC-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyB-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-BodyB-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyA-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyA-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyG-Column2-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyG-Column2-Body1 p
{
	color: #ff1200;
	font-size: 1.10em;
	font-weight: bold;
}

.TableStyle-Warning-BodyI-Column3-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyI-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-BodyE-Column3-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-BodyE-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-BodyF-Column3-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyF-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-BodyH-Column3-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-BodyH-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-BodyD-Column3-Body1
{
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyD-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-BodyC-Column3-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyC-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-BodyB-Column3-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Warning-BodyB-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-BodyA-Column3-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyA-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}

.TableStyle-Warning-BodyG-Column3-Body1
{
	background-color: #edf0f1;
	color: #ff1200;
	font-size: 0.90em;
	text-align: justify;
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Warning-BodyG-Column3-Body1 p
{
	color: #ff1200;
	font-size: 0.90em;
}


